[2017-09-05 16:40] electro-logic opened #18 "Sample Umbrella not well reconstructed"
Hello Mihai,

I have tried your project and compiled it successfully (with some adaptations) with Ubuntu 17.04 and Windows (Visual Studio 2017).

With Windows I get this output:

[code]

With Linux all seem to works but I get a very bad reconstructed umbrella, very far from DynamicFusion video of the paper. Is this project a work in progress and not yet ready or maybe I have made some mistake?

Th

[2017-09-05 21:40] mihaibujanca commented on #18
Hey @electro-logic, the project is still in works.

I've pretty much got a version working on the CPU, but it's way too slow (10+ min / frame), so I'm trying to get something working on the GPU.

I don't have a timeline for it yet but working on it consistently so I'll ping this back when it's working reasonably well :).

[2017-09-05 21:57] electro-logic opened #19 "Compiling instructions"
Instructions in README.MD are very little detailed. Attached my compiling instructions tested with Ubuntu 16.04:

[Compiling on Ubuntu 16.04.txt](https://github.com/mihaibujanca/dynamicfusion/files/1279054/Compiling.on.Ubuntu.16.04.txt)

NOTES: See later comment for updated instruction

Compiling with Ubuntu 17.04 require some modifications like:
- Installing GCC 5, VTK 6 and adding "set (CMAKE_CX

[2017-09-05 22:02] electro-logic commented on #18
Thank you for your answer @mihaibujanca , could you share some details about how to use CPU instead of GPU in your project? If CPU implementation is working well I can help you to speed up implementation.

[2017-09-06 09:14] mihaibujanca commented on #18
Please checkout the gpu_optimisation branch, the addition there is calling `getWarp().energy_data` inside kinfu.cpp.

The main reason master doesn't reconstruct well is that the warp field estimation step is not called there (check equations 6 and 7 in the paper). The main problem is that I'm currently using Ceres for that optimisation and that only seems to support CPU. The optimisation requires

[2017-09-06 09:32] mihaibujanca commented on #18
@electro-logic Due to the optimisation being too slow, the way I tested whether or not it's working is:

1. There's a target called ceres_test, which creates a warp field with 9 nodes and a set of 6 points for "live frame" and 6 for "canonical frame". You can play around with the values both for the nodes and for the input / output vertices. If you want to see how the optimisation parameters chang

[2017-09-06 09:38] mihaibujanca commented on #19
Thanks very much @electro-logic will update the documentation and the cmake file as per your suggestions. Some of those things can be done better indeed (e.g detecting the version of CUDA and only enabling supported architectures)

[2017-09-06 19:37] electro-logic commented on #18
I have compiled gpu_optimisation branch with umbrella dataset (only frames from 100 to 150) and I got this output for the first frame:

[code]

but GUI is frozen and I can't see anything.

[2017-09-06 21:02] mihaibujanca commented on #18
@electro-logic yep, that's where I'm at right now. The cost being low enough (2.560969e-13) and the test on handmade data suggests that it should be working correctly. I'm not sure why the gui freezes, but I'm expecting that if I made the optimisation work on GPU, it would be easier to understand.

I might try subsampling the for the warp field initialisation tonight since that's easy to do and it

[2017-09-07 15:43] mihaibujanca commented on #18
Quick update on this - I tried uniformly subsampling for the warp field initialisation and depending on the subsampling size, it seems to be working on a few (<5) frames, before optimisation fails due to loads of nans.

I'm gonna be working on porting this to GPU since right now it's too slow to visualise or debug properly

[2017-09-07 20:03] electro-logic commented on #18
I have investigated, GUI frozen because all work is done in a single thread. It is better to do works in a separate thread that signal to the main thread when to update the view. This can involve using boost:thread or c++ 11 async features. But at this stage is too early to do this, before is better to improve the algorithm at an usable point.

Anyway a quick and dirty fix can be calling viz.spin(

[2017-09-07 21:23] mihaibujanca commented on #18
My setup is Ubuntu 16.04 / Nvidia GeForce 960M 4GB / CUDA 8.0.
Yeah I could spin up another thread but it won't do much since all the user would be doing is see the same image / pointcloud until a new frame is processed - maybe look around at the pointcloud, but I can't see any obvious advantage in doing that at this point.

[2017-09-12 11:36] eshafeeqe commented on #18
@mihaibujanca awesome project. I am also doing the same for the last one year. I am currently using Opt for optimization. It can improve the overall optimization time but in my experience, dynamic fusion type subsampled graph based optimization required some more modification over Opt. (currently I am doing full mesh optimization) I tried volumedeform( https://arxiv.org/abs/1603.08161) optimizatio

[2017-09-12 12:02] mihaibujanca commented on #18
@eshafeeqe Thanks a lot for the feedback!

I'm currently working on getting it to work with Opt, but there are plenty of other things that need to be improved, in all fairness.
I'm working on getting this to be part of OpenCV as well, so eventually the code will need to run in real time. I thought about building VolumeDeform instead, but it seemed like DynamicFusion would be an easier option to be

[2017-09-16 11:27] electro-logic commented on #18
I think that also if real-time can not be reached with current hardware, in the future mainstream GPU will improve and so if we get 0.5 fps today this is a great reach. Still allow for offline processing, where a 1 min sequence taken at 30 fps (1800 frames) can be processed into 1h.

[2017-09-20 09:20] Desperater opened #20 "Questions about the function in warp_field.cpp"
Hi Mihai,
I've been work on your project for several days but I can't get a satisfied result. I found some functions in warp_field.cpp is not implemented , and the function WarpField::energy_data() really cost too much time. Can you give some ideas for what I can do to speed it up?
 In Dynamic Fusion paper the equation 6 is not detailed and I wonder whether it is a nonlinear least square problems?

[2017-09-20 16:03] mihaibujanca commented on #20
Hi, I'm working on speeding up energy data, but don't yet have an eta - I'm currently trying to use Opt (https://github.com/niessner/Opt) for it, and if that won't give satisfying results, I will need to try to write everything in CUDA to get it working on the GPU.

It will definitely need to run on a GPU to be able to have a decent speed. The optimisation is computing ~1.5M variables per frame, t

[2017-09-21 00:59] Desperater commented on #20
Thank you for your answers! Looking forward to your new versions.

[2017-10-04 21:30] mxgbs opened #21 "Question about line381 in kinfu.cpp"
The 381 line is as following,
getWarp().energy_data(warped, warped_normals, warped, warped_normals);
I assume the input should match following canonical model and live model. But the sentence above looks like that you input the same data set twice. Did I miss something? Could you please advice?

void WarpField::energy_data(const std::vector<Vec3f> &canonical_vertices,

[2017-10-05 01:16] mihaibujanca commented on #21
Good catch, I should have added a comment at least or not get that into master.

I think at that time I was just using that as a test for the optimisation (obviously it was supposed to converge really quickly and say that the data is identical so no change needs to be made to the warp field.

I'm currently working on a new, GPU-based version which I'm hoping I can get in a good state by early next

[2017-10-09 13:42] fweinan123 opened #22 "A question about WarpField::init"
Hello Mihai,
      I have read your project but I am fused about the WarpField::init in the warp_field.cpp line 79. I want to figure out why you  initialize node's transformation using the PointCloud's point and its normal.
      In my view,  WarpField::init should initialize the estimation of canonical_vertices to live_vertices, so the rotation matrix should be identity matrix and the translation

[2017-10-11 18:55] mihaibujanca commented on #22
I think you're right, not entirely sure why I did that - thanks for pointing it out!
I'll update it accordingly.

[2017-10-17 17:50] swarth100 opened #23 "Termination: FAILURE"
Hello @mihaibujanca ,

We are currently working on a project which will heavily rely on your library to perform dynamic reconstruction of non-solid objects.

By running the sample umbrella test we get two successful Termination: CONVERGENCE, yet straight after we start getting continuous failures.
Eventually (~frame 40) it all falls apart with nans everywhere and an assertion failure.

The followi

[2017-10-18 06:58] mihaibujanca commented on #23
Hi Alberto,

Happy to know you'll be using the code :) - out of curiosity, what's your project about?

I'm currently working on a version that is using Opt (https://github.com/niessner/Opt) for optimisation and I'm hoping I'll get it out early next week, so might be worth waiting for that. It should be a lot faster than the current code that's using Ceres.

In the meanwhile, I have some ideas abou

[2017-10-18 09:22] swarth100 commented on #23
Thank you for your prompt reply Mihai!

The final aim of our project will be to reconstruct the movements of (non-solid) infants. This could allow for early diagnostics of neurological and muscular diseases. As of now, though, we're really just trying our best to get dynamic fusion working on our machines with custom inputs.

Over the next two months we will be working heavily on your library (for

[2017-10-25 21:29] mihaibujanca commented on #20
Can this be closed now?

[2017-10-25 21:33] mihaibujanca opened #24 "Add documentation for compiling with Opt"
Currently working on a GPU version for the non-linear optimisation, using https://github.com/niessner/Opt.
Opt currently uses Makefile and brings in a few dependencies, so instructions, and later a script / integration with CMake need to be added in to make DynamicFusion easier to use

[2017-10-25 21:34] #22 closed

[2017-10-25 22:23] mihaibujanca commented on #21
This is fixed now

[2017-10-25 22:23] #21 closed

[2017-10-26 00:22] Desperater commented on #20
sorry ，it's my first time to use github. I will close it right now.

[2017-10-26 00:22] #20 closed

[2017-10-26 03:16] mihaibujanca opened #27 "Visualisation on a different thread"
The visualiser is currently stuck while other operations are taking place. Getting it on a different thread should solve it.

[2017-10-26 05:02] mihaibujanca commented on #22
Sorry, I just realised why I was doing that and it was right. The idea is that you start with the transformation to be the same as the vertices and then it starts deforming. You could also just start with 0 and then use node position + the translation part of the transformation

[2017-10-26 11:08] swarth100 opened #28 "KFusion depth image format"
Hello Mihai,

Over the past few days we've had severe issues when using custom data not logged from a Kinect camera.

I was wondering if you just could provide a tiny extra bit of insight on the format.

Our current assumptions are the following:
1) Clipping depth is 1m.
2) Anything beyond 1m has depth value of 0.
3) Closest depth value is 2^16.
3) Anything between 0m-1m has a depth value scaled f

[2017-10-26 12:51] swarth100 commented on #28
For anyone having this issue, make sure your camera treats depth values beyond the clipping plane properly.

What this library actually expects is:

Depth value 0 = closest to camera
Depth value (max uint16_t) = furthest away from camera on the horizon.

The above assumptions (2) and (3) are to be violated

[2017-10-26 13:29] swarth100 commented on #23
Dear Mihai,

Just wanted to point out that we still get termination failures on all machines when running the library with example data after having pulled the latest #25

[img](https://imgur.com/E9AVRFK.png)

[2017-10-27 08:28] swarth100 commented on #28
Actually setting too many pixels to (max uint16_t) will also crash the library.

We're working on a better estimate, yet so far we can only get frames to run when ~80% of the image has actually mapped depth data.

We're working on seeing if scaling the max depth values has any effect

[2017-10-27 12:46] mihaibujanca commented on #28
What's the error it's crashing with?

[2017-10-28 03:36] KevinLee752 commented on #18
I'm a newcomer of 3D-reconsruction and also implementing my idea based on this code project (what an  awesome project I must say). Out of curiosity, how is this project going now? Is the reconstructed video closed to that in DynamicFusion paper? Actually, I tried this project on Windows VS2013 but get an error (bad_alloc) about the problem solving process in WarpField::energy_data . I'm using Cere

[2017-10-28 05:14] mihaibujanca commented on #18
@KevinLee752 Thanks! Curious to know more about what you're thinking of doing.

I'm working on it a few hours every day and it's a serious priority for me - but at the same time I have other commitments and time is limited.

I am currently working on a version that uses https://github.com/niessner/Opt for the optimisation instead of Ceres - since Ceres is CPU only. Seeing that a few people are tak

[2017-10-29 05:21] mihaibujanca opened #30 "Pose computation seems wrong"
Testing with an example where the camera stays still but the subject moves indicates that pose computation might be wrongfully relying on non rigidly moving data.

[2017-11-08 12:22] GloriaBian commented on #19
What's the mLibCore.h? When I compile, it shows:
dynamicfusion-master/kfusion/include/opt/mLibInclude.h:15:22: fatal error: mLibCore.h: No such file or directory
 #include <mLibCore.h>
                      ^
compilation terminated.
make[2]: *** [kfusion/CMakeFiles/kfusion.dir/src/precomp.cpp.o] Error 1
make[1]: *** [kfusion/CMakeFiles/kfusion.dir/all] Error 2
make: *** [all] Error 2
Could you tel

[2017-11-08 12:55] swarth100 commented on #19
`mLibCore.h` is included within the [Opt Library](https://github.com/niessner/Opt).

You might want to change the following lines in [CMakeList.txt](https://github.com/mihaibujanca/dynamicfusion/blob/master/CMakeLists.txt#L70) to the paths to your local installation of Opt.

[2017-11-09 18:35] Db2515 commented on #28
I am working with swarth100 and we are still having this problem.
We get the same error as above:
KinFu2 error: invalid configuration argument	/homes/db2515/Documents/Programming/DynamicFusionCore/kfusion/src/cuda/tsdf_volume.cu:831

Initially we were setting any 0 values to (max uint16_t) with the aim to remove pixels past a certain distance when loading the data into your library. Since then we

[2017-11-11 05:25] mihaibujanca commented on #28
Any chance you could post the stack trace for this?
I have a feeling it's coming from `kfusion::cuda::TsdfVolume::compute_normals()`

[2017-11-16 16:32] Db2515 commented on #28
The stack trace we are getting is:
Cuda API error detected: cudaLaunch returned (0x9)
(cuda-gdb) where
#0  0x00007fffdb43c070 in cudbgReportDriverApiError () from /usr/lib/x86_64-linux-gnu/libcuda.so.1
#1  0x00007fffdb43ed76 in cudbgReportDriverInternalError () from /usr/lib/x86_64-linux-gnu/libcuda.so.1
#2  0x00007fffdb441de4 in cudbgApiDetach () from /usr/lib/x86_64-linux-gnu/libcuda.so.1
#3  0x

[2017-11-18 09:22] HaoguangHuang opened #32 "Why libOpenMeshCore.a cannot be linked to project dynamicfusion?"
After changing the variable "OPENMESH_LIBRARIES"  in CMakeLists.txt from author's absolute path into mine, I meet some questions when I complie the project. Here I paste my errors as below:
----------------------------------------------------------------------------------------------------------------------------------------
[ 87%] Built target kfusion
make[3]: *** No rule to make target '/home/hh

[2017-11-19 21:04] mihaibujanca commented on #28
It's quite hard to figure this out, but two things I did notice:

`cudbgReportDriverApiError` and `cudbgReportDriverInternalError` suggest there is some kind of incompatibility with the driver. Could you confirm what CUDA version are you running and on what GPU?
[code]

`output=0x0` looks like a null pointer to me, so that might have something to do with it.

I'll investigate further and let you k

[2017-11-19 21:06] mihaibujanca commented on #32
Hmm, have you made any other changes to `CMakeLists.txt`? Not really sure how to help here

[2017-11-20 02:53] HaoguangHuang commented on #32
I just modify the CMakeLists.txt in directory 'dynamicfusion' like this:

#set(OPT_INCLUDE_DIRS /home/mihai/Projects/Opt/examples/external/mLib/include /home/mihai/Projects/Opt/examples/shared/ /home/mihai/Projects/Opt/API/release/include)
#set(OPT_LIBRARIES /home/mihai/Projects/Opt/API/release/lib/libOptDev.a)
#set(TERRA_LIBRARIES /home/mihai/Projects/terra/lib/libterra.a)
#set(OPENMESH_LIBRARIES

[2017-11-20 23:07] mxgbs opened #33 "install with cmake, windows"
Got the error message as following. Do you have any guide for building with cmake+VS2015. Thanks.

CMake Error at C:/Program Files/CMake/share/cmake-3.10/Modules/FindPackageHandleStandardArgs.cmake:137 (message):
  Could NOT find OpenCV (missing: viz) (found version "3.3.0")
Call Stack (most recent call first):
  C:/Program Files/CMake/share/cmake-3.10/Modules/FindPackageHandleStandardArgs.cmake:3

[2017-11-21 07:08] HaoguangHuang commented on #33
Need to recmake and rebuild your opencv project manually. Your opencv lack the viz module.

[2017-11-21 10:21] HaoguangHuang commented on #32
The issue got solved now.

After setting the  variable OPENMESH_LIBRARIES as "OpenMesh-6.3/build/src/OpenMesh/Core/libOpenMeshCored.a  OpenMesh-6.3/build/src/OpenMesh/Tools/libOpenMeshToolsd.a", the error disappeared.

[2017-11-21 10:21] #32 closed

[2017-11-22 01:46] mxgbs commented on #33
Thank you. Have you installed in windows using cmake and vs? I have issue
to build google-glog and suitesparse with cmake. Have you successfully
build that? Ceres is not listed in the windows version's dependencies.
However, when I tried to build the dynamic fusion, it said ceres is not
found. Therefore, I think it does need cere pre-installed.

On Mon, Nov 20, 2017 at 11:08 PM, HaoguangHuang <not

[2017-11-22 05:28] HaoguangHuang commented on #33
I have just built the project dynamicfusion successfully on my ubuntu 16.04, but haven't tried on windows.

The latest version of this project seems to use Opt instead of Ceres, to process optimization of warp field.

[2017-11-22 11:32] mihaibujanca commented on #33
I will need to update the documentation and building process. Probably going to find some time for it this weekend.

Indeed the current version is using Opt rather than Ceres, so you should be able to work around installing Ceres, but I don't think that the code is modular enough at the moment to let you just comment out the dependency in the CMakeLists

[2017-11-22 14:19] HaoguangHuang opened #34 "Some questions about Function "device::integrate(dists, volume, aff, proj)""
Hi, @mihaibujanca ,

After runing your awesome dynamicfusion project , I found it didn't work very well on the umberalla dateset you provide. Especially when the umberalla close gradually, the fusioned visible model cannot catch up with the change of  object shape.

So I read your code and try to find whether bugs exist or not.  Considering the function "device::integrate" in file tsdf_volume.cu ,

[2017-11-22 16:36] mihaibujanca commented on #34
I've just added a notice on the readme that the project is still under development. The current `tsdf::integrate` is leftover from the kinectfusion implementation this is based upon.

In terms of how the sdf should be computed, I think you'd first warp and then transform into the camera coordinate

[2017-11-22 16:38] mihaibujanca commented on #33
@HaoguangHuang Any chance you could write what was needed other than the current instructions to get it working on Windows?
I'll need to write this up for other users, would appreciate any suggestions on that

[2017-11-23 00:19] mxgbs commented on #33
Hi,

Built the ceres and another error occurred when I tried to build dynamic
fusion. Can I disable the use of OPENNI? I thought that's optional. Thank
you.

CMake Error: The following variables are used in this project, but they are
set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake
files:
OPENNI_INCLUDE_DIR (ADVANCED)
   used as include directory in dire

[2017-11-23 02:20] HaoguangHuang commented on #34
yep, as for how to compute psdf, your code of that module is quite clear and I think there is no doubt on it.

But as for the function "kfusion::cuda::TsdfVolume::surface_fusion", code that confused me are listed as below:

`std::vector<float> ro = psdf(warped, depth, intr);

    cuda::Dists dists;
    cuda::computeDists(depth, dists, intr); //pre_compute dists from depth map
    integrate(dists,

[2017-11-23 02:30] HaoguangHuang commented on #33
@mihaibujanca If you need, I am pleased to supple some simple instructions here about how to build this project on ubuntu 16.04 soon.

[2017-11-23 04:12] HaoguangHuang commented on #33
@mxgbs The solution contains two projects that can produce executable file, one is dynamicfusion,  the other is dynamicfusion_kinect. And they correspond to demo.cpp and dynamicfusion_kinect.cpp respectively. If you have no OPENNI installed, don't choose ALL_BUILD when build the project. Just building 'dynamicfusion' is enough

[2017-11-24 11:34] seamanj opened #35 "fatal error: mLibCore.h: No such file or directory"
fatal error: mLibCore.h: No such file or directory

when I compile the project, it prompts fatal error: mLibCore.h: No such file or directory, how can I find this file?

[2017-11-24 13:15] HaoguangHuang commented on #35
#24  https://github.com/mihaibujanca/dynamicfusion/issues/24

You can find mLibCore.h in the Opt project.

[2017-11-27 18:27] mxgbs commented on #33
Hi Haoguang,

Thanks for your kindly reply. Do you have any idea how can I disable the
dynamicfusion_kinect part and openNI dependency in CMakeLists.txt? Thank
you.

Sincerely,

Yan

On Wed, Nov 22, 2017 at 8:12 PM, HaoguangHuang <notifications@github.com>
wrote:

[2017-11-27 21:05] mihaibujanca commented on #33
One way is to just remove lines 18-27 from apps/CMakeLists.txt. If OpenNI is not installed, that shouldn't be built anyway - not sure why it appears to be a problem.

[2017-11-27 21:17] mxgbs commented on #33
Hi Mihai,

Thanks for your quick response. I tried, and use cmake, the same error
still occurs:.  I think the reason may be because the following functions
using some OPENNI functions?
CMake Error: The following variables are used in this project, but they are
set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake
files:
OPENNI_INCLUDE_DIR (ADVANCED)
   used a

[2017-11-27 21:25] mxgbs commented on #33
I removed dynamicfusion_kinect from apps. The .sln is successfully
generated via cmake. However, new error as following occurs when building
with VS2015. Trying to solve that now.

1>------ Build started: Project: ZERO_CHECK, Configuration: Release x64
------
1>  Checking Build System
1>  CMake does not need to re-run because
C:/Users/dengya/Documents/dynamicfusion/build_new/CMakeFiles/generate.st

[2017-11-27 21:32] mihaibujanca commented on #33
Try removing `-Wno-write-strings` on line 5 of CMakeLists.txt

[2017-11-27 21:41] mxgbs commented on #33
More errors come. For the mlibCore.h, should we install opt first and put
that to the cmakelist? seems all the following libraries are missing.
#include <cudaUtil.h>
#include <SolverIteration.h>
#include <CombinedSolverParameters.h>
#include <CombinedSolverBase.h>
#include <OptGraph.h>

1>------ Build started: Project: ZERO_CHECK, Configuration: Release x64
------
2>------ Build started: Project:

[2017-11-27 21:48] mihaibujanca commented on #33
yeah you have to install Opt (and its dependencies) and modify `OPT_INCLUDE_DIRS` and `OPT_LIBRARY` in CMakeLists

[2017-11-27 21:50] mxgbs commented on #33
Do you have any clues how to fix following errors?

dynamicfusion\kfusion\src\cuda\device.hpp(54): error : identifier
"__float2half_rn" is undefined
dynamicfusion\kfusion\src\cuda\device.hpp(59): error : identifier
"__half2float" is undefined
dynamicfusion\kfusion\src\cuda\device.hpp(61): error : identifier
"__half2float" is undefined
dynamicfusion/kfusion/src/cuda/imgproc.cu(270): error : identif

[2017-11-27 21:56] mxgbs commented on #33
Besides, is this the opt you used https://software.sandia.gov/opt++/ ?

Sincerely,

Yan

On Mon, Nov 27, 2017 at 1:50 PM, yan deng <dengyaner@gmail.com> wrote:

[2017-11-27 22:13] mihaibujanca commented on #33
https://github.com/niessner/Opt

[2017-11-27 22:14] mihaibujanca commented on #33
The errors on undefined identifiers would come either from missing CUDA dependencies or incompatible CUDA version

[2017-11-28 22:22] mxgbs commented on #33
I use the latest CUDA version 9.0. Should I downgrade? First time using
CUDA, lack of experience. Have you build this project on Windows
successfully? If no one did, should I just give up and try other platform?
I recalled you mentioned that you're preparing another tutorial for windows
install, how is going? Thanks.

Sincerely,

Yan

On Mon, Nov 27, 2017 at 2:14 PM, Mihai <notifications@github.co

[2017-11-28 22:32] mxgbs commented on #33
Hi Mihai,

I think the problem is here" Unsupported Features General CUDA ‣ CUDA
library. The built-in functions __float2half_rn() and __half2float() have
been removed. Use equivalent functionality in the updated fp16 header file
from the CUDA toolkit." in
https://developer.download.nvidia.com/compute/cuda/9.0/Prod/docs/sidebar/CUDA_Toolkit_Release_Notes.pdf

Sincerely,

Yan

On Tue, Nov 28, 2017

[2017-11-29 01:49] mxgbs commented on #33
Sorry. The last message is not correct. I saw all my device intrinsic
functions defined by #if defined(__CUDACC__) are uncomment. That means
__CUDACC__is not defined. But have no idea how to solve that. Google a lot
and not find a solution.

Sincerely,

Yan

On Tue, Nov 28, 2017 at 2:32 PM, yan deng <dengyaner@gmail.com> wrote:

[2017-11-29 12:56] mihaibujanca commented on #33
Ok, just got hold of a windows machine, will try building it soon. Are you using windows 10?

[2017-11-29 14:28] Kalkasas opened #36 "Double Precision error"
I am sorry I posted this to the wrong github repository

[2017-11-29 14:32] #36 closed

[2017-11-29 18:13] mxgbs commented on #33
Yes. Thank you. I try to build everything with VS2015, 64bits.

Sincerely,

Yan

On Wed, Nov 29, 2017 at 4:56 AM, Mihai <notifications@github.com> wrote:

[2017-11-29 21:25] mihaibujanca opened #37 "Dual quaternion normalize needs testing"

[2017-11-29 21:41] mxgbs commented on #33
Hi Mihai,

I have found out reason why following error occurs. The .sln generated by
cmake is not automatically linked to CUDA. Need to manually configure build
dependencies/build customizations and choose cuda 9.0. And then configure
all the properties related to CUDA C/C++ in property page.
dynamicfusion\kfusion\src\cuda\device.hpp(54): error : identifier
"__float2half_rn" is undefined
dynamicfu

[2017-11-29 21:46] mihaibujanca commented on #33
Any clue why would that happen?

How do you solve that in practice / is there a way I could add that to the repo so it happens automatically?

I suppose I could try building a .sln and include it in the repo, but I'm quite clumsy with developing on windows

[2017-11-29 22:17] mxgbs commented on #33
http://docs.nvidia.com/cuda/cuda-installation-guide-microsoft-windows/index.html#build-customizations-for-existing-projects

I firstly did the customization following 3.4. Build Customizations for
Existing Projects
<http://docs.nvidia.com/cuda/cuda-installation-guide-microsoft-windows/index.html#build-customizations-for-existing-projects>
 so that you can have ncvv as compiler. Otherwise, all the

[2017-11-29 22:25] mxgbs commented on #33
The following figure shows why functions would be shown as undefined if
compiler nvcc is not linked.
[image: Inline image 1]

On Wed, Nov 29, 2017 at 2:17 PM, yan deng <dengyaner@gmail.com> wrote:

[2017-12-01 02:03] mxgbs commented on #33
I tried to use terra released version for windows. However, many problem
occurs. The including "stdio,h" problem can be solved by add
terralib.includepath = [[C:\Program Files (x86)\Windows
Kits\10\Include\10.0.16299.0\ucrt;C:\Program Files (x86)\Microsoft Visual
Studio 14.0\VC\include;C:\Program Files (x86)\Microsoft Visual Studio
14.0\VC\crt\src]] to the terra script. However, when saveobj is us

[2017-12-02 16:44] electro-logic commented on #33
I think that at this stage Ubuntu 16.04 should be the development environment for all to avoid losing time to support more platforms. Later when thirty party libraries will be better defined we should port it on Windows. I have written some instructions for compiling the project under Ubuntu, but now there are few changes like Opt instead of Ceres that I will update in instructions soon.

[2017-12-03 01:51] electro-logic commented on #19
Here updated instructions for compiling with Opt solver:

[Compiling on Ubuntu 16.04.txt](https://github.com/mihaibujanca/dynamicfusion/files/1524421/Compiling.on.Ubuntu.16.04.txt)

Code compile but I get linking errors:

`[ 77%] Built target kfusion
[ 88%] Built target dynamicfusion
[ 94%] Linking CXX executable ../bin/dynamicfusion_kinect
CMakeFiles/dynamicfusion_kinect.dir/dynamicfusion_kinect.

[2017-12-03 09:04] mihaibujanca commented on #19
Fixed now - linking errors should be gone, but it's not fast enough yet to work in real time, so wouldn't recommend using `dynamicfusion_kinect`

[2017-12-03 09:08] mihaibujanca opened #39 "Improve CMakeLists to detect GPU"
As per #19, just adding all supported architectures can result in errors.

Implement a version of this to detect the architecture instead. This might also reduce compile time.
https://stackoverflow.com/questions/2285185/easiest-way-to-test-for-existence-of-cuda-capable-gpu-from-cmake

[2017-12-03 09:27] electro-logic commented on #19
Now compile and link but program display first frame then terminate with message:

`llvm: No such file or directory`

[2017-12-03 12:31] mihaibujanca commented on #19
Are you using it on the dataset or with a kinect?

[2017-12-04 22:04] electro-logic commented on #19
Thank you @mihaibujanca as always, I can not test soon the fix but I will do it before Christmas.

[2017-12-04 23:25] mxgbs commented on #33
Solved former problem by using VS2015 x64 native tools instead of cmd for
optbuild. Now compiled dynamicfusion with VS2015. Tons error comes.
i. tgmath.h needs to be changed to <ctgmath>.
ii.  if(event.action != cv::viz::KeyboardEvent::KEY_DOWN) problem with
KEY_DOWN assignment. no clue how to change
iii. bind is not defined which should be an internal function of std. Try
adding using namespace s

[2017-12-05 14:08] mihaibujanca commented on #19
No worries, thanks a lot for the contributions

[2017-12-05 14:11] mihaibujanca commented on #33
@mxgbs

Fixed 1 by using <numeric> which is more generic. Would appreciate if you confirmed it works with numeric.

Could you detail on 2, please? Bind might be CUDA actually, not `std::bind`. Where's the error coming from?

I would suggest trying a lower version of cuda just to be sure, I'm currently using 8.

[2017-12-05 15:57] electro-logic commented on #33
Opt conflict with Viz because KEY_UP, KEY_DOWN, etc.. are already defined in Viz. You can follow latest compiling instruction to see where to edit header files [https://github.com/mihaibujanca/dynamicfusion/issues/19](https://github.com/mihaibujanca/dynamicfusion/issues/19)

[2017-12-05 16:04] #24 closed

[2017-12-05 16:05] mihaibujanca commented on #24
Contained in #19

[2017-12-05 16:06] #35 closed

[2017-12-05 22:57] mxgbs commented on #33
@mihaibujanca @electro-logic
I clone the latest version. But that error due to KEY_DOWN is still there. The place is demo.cpp 14, marked with I in the following complete error list.
the bind error is related to this file: \opt\examples\external\mlib\include\core-network\networkServer.h
Errors associated with that are marked with II.

There are also tons of errors came from opencv viz, marked with

[2017-12-05 23:00] mihaibujanca commented on #33
@mxgbs

As per @electro-logic check instructions in #19. You need to edit `opt/examples/external/mLib/include/mLibCore.h` and remove `#include "core-util/keycodes.h"`

[2017-12-05 23:03] mihaibujanca commented on #33
Hmm, try also commenting out `#include "core-network/networkServer.h"`, same file. Looks like that might be conflicting as well, for II

[2017-12-05 23:11] mxgbs commented on #33
Thank you. All the problems are gone.
Another eroor comes. So Openmesh is another dependency I need to install?
LINK : fatal error LNK1181: cannot open input file
'\home\mihai\Downloads\OpenMesh-6.3\build\Build\lib\libOpenMeshCore.a'

Sincerely,

Yan

On Tue, Dec 5, 2017 at 3:03 PM, Mihai <notifications@github.com> wrote:

[2017-12-05 23:12] mxgbs commented on #33
@mihaibujanca @electro-logic Thank you. All the problems are gone.
Another eroor comes. So Openmesh is another dependency I need to install?
LINK : fatal error LNK1181: cannot open input file
'\home\mihai\Downloads\OpenMesh-6.3\build\Build\lib\libOpenMeshCore.a'

[2017-12-06 00:28] mxgbs commented on #33
Have got the project compiled. However, following two sentences reading
nothing from input directories. I tried to change that two sentences to
cv::glob("xxx/data/.*depth",depths), but still doesn't work. Try to fix
that. Do you have any idea?

cv::glob(dir_name + "/depth", depths);
cv::glob(dir_name + "/color", images);

On Tue, Dec 5, 2017 at 3:10 PM, yan deng <dengyaner@gmail.com> wrote:

[2017-12-06 00:28] mihaibujanca commented on #33
I don't recall explicitly using openmesh in my code, I'll give it a check later and remove it if I can. OpenMesh is a dependency of Opt though. It may just have been me trying to use a more up to date version or something

[2017-12-06 00:29] mihaibujanca commented on #33
@mxgbs Could you please provide file name and line number whenever you are referring to specific pieces of code? It'd be easier to get to them :)

Thanks

[2017-12-06 00:30] mihaibujanca commented on #33
Have you definitely downloaded the data and checked that the paths are right?

[2017-12-06 00:32] mihaibujanca commented on #33
Oh wait. That would be because you're not providing the path as an argument to the program, I imagine. you're supposed to run it using `./dynamicfusion path/to/data`.

Which reminds me I haven't documented that yet

[2017-12-06 00:36] mxgbs commented on #33
I have input that and the variable Dir correctly shows that also.

On Tue, Dec 5, 2017 at 4:32 PM Mihai <notifications@github.com> wrote:

[2017-12-06 00:41] mxgbs commented on #33
The line is 80-81 of demo.cpp. dir_name is my input path/to/data. Have you
divided .depth and .color to two sub-folder, such as
path-to-data/depth/.depth and path-to-data/color/.color? Though I don't
think that's the problem.

Sincerely,

Yan
cv::glob(dir_name + "/depth", depths);
cv::glob(dir_name + "/color", images);

On Tue, Dec 5, 2017 at 4:36 PM, yan deng <dengyaner@gmail.com> wrote:

[2017-12-06 00:41] mihaibujanca commented on #33
You could try hardcoding the path into the code for a test.

One reason why it doesn't currently work might be different directory separators for windows paths - admittedly I should have used boost here

[2017-12-06 00:45] mihaibujanca commented on #33
@mxgbs
Oh I just noticed haha. The directory structure is:

data
   color
       file.color.png
   depth
       file.depth.png

This is the dataset itself though

[2017-12-06 00:52] mxgbs commented on #33
Yes. I divided that to sub-folder, it works now. Mixed that two would not
work even with guidance of "*.color" and "*.depth". Have no idea why. But
new errors come after this. I'm looking for more details.

Sincerely,

Yan

On Tue, Dec 5, 2017 at 4:45 PM, Mihai <notifications@github.com> wrote:

[2017-12-06 00:54] mihaibujanca commented on #33
Well, *.depth and *.color is not correct, strictly speaking. Both should be *.png since that is the final extension. *.depth doesn't match to *depth.png

[2017-12-06 00:56] mxgbs commented on #33
OK. I didn't make the the extension shown and that makes sense.

Sincerely,

Yan

On Tue, Dec 5, 2017 at 4:54 PM, Mihai <notifications@github.com> wrote:

[2017-12-06 01:21] mxgbs commented on #33
In kunfu.cpp, line 250 volume->compute_normals(), the program terminates
itself automatically after executing that code. In cmd it shows KinFu2
error: invalid configuration argument
C:/Users/dengya/Documents/dynamic_fusion_git/dynamicfusion/kfusion/src/cuda/
tsdf_volume.cu:829. Do you have any idea how to fix that?

Sincerely,

Yan

248        volume_->integrate(dists_, poses_.back(), p.intr);
249

[2017-12-06 01:32] mihaibujanca commented on #33
Oh damn. Check #28, @swarth100 and @Db2515 had the same issue. I'm not sure if they managed to solve it.

[2017-12-06 01:33] mxgbs commented on #33
It seems the problem happened earlier actually.  It
tsdf_volume.cpp, device::TsdfVolume volume(data_.ptr<ushort2>(), dims, vsz,
trunc_dist_, max_weight_). the result volume.data is not correctly loaded.
More specifically, in precom.cpp, line 24, _data is not readable anymore.
kfusion::device::TsdfVolume::TsdfVolume(elem_type* _data, int3 _dims,
float3 _voxel_size, float _trunc_dist, int _max_weigh

[2017-12-06 01:35] mihaibujanca commented on #33
Could you checkout branch quickfix and see if my latest commit fixes the issue?

[2017-12-06 01:47] mxgbs commented on #33
Thanks. Checkout the new branch now.

Sincerely,

Yan

On Tue, Dec 5, 2017 at 5:35 PM, Mihai <notifications@github.com> wrote:

[2017-12-06 01:56] mxgbs commented on #33
My fault. Use wrong command. Found out the answer :)

On Tue, Dec 5, 2017 at 5:52 PM, yan deng <dengyaner@gmail.com> wrote:

[2017-12-06 02:12] mxgbs commented on #33
@mihaibujanca I tried the latest one (with latest modified time as 2:08pm, correct?) and it doesn't solve the problem.  I also tried to re-build that in case new update is not included. However, the problem is still there in the same place.

[2017-12-06 02:14] mihaibujanca commented on #33
Should have `dim3 block (32, 8);` rather than `dim3(256)` on line 825 of tsdf_volume.cu

Could you give some more details about the error?
Perhaps run it in debug mode and see what the trace is?

[2017-12-06 02:17] mxgbs commented on #33
I just saw that. Actually it seems the problem happened earlier actually.  It
tsdf_volume.cpp, device::TsdfVolume volume(data_.ptr<ushort2>(), dims, vsz,
trunc_dist_, max_weight_). the result volume.data is not correctly loaded.
More specifically, in precom.cpp, line 24, _data is not readable anymore.
kfusion::device::TsdfVolume::TsdfVolume(elem_type* _data, int3 _dims,
float3 _voxel_size, float _

[2017-12-06 02:22] mihaibujanca commented on #33
Would that be on the very first frame or later on?
Can you go through it and see if the images are loaded correctly? (i.e something like
`cv::imshow(depth);` after line 88 in demo.cpp?)

If that works, try stepping through and seeing if there's any data in the buffer when it gets to `kfusion::cuda::TsdfVolume::integrate` on the first frame.

[2017-12-06 02:36] mxgbs commented on #33
already checked depth are correctly loaded.
The data_ is shown as below. However, you can see if we see from
volume(next picture), that x, y are not assigned.
[image: Inline image 1]

[image: Inline image 3]

On Tue, Dec 5, 2017 at 6:22 PM, Mihai <notifications@github.com> wrote:

[2017-12-06 03:15] mihaibujanca commented on #33
@mxgbs images are not being loaded

[2017-12-06 03:19] mxgbs commented on #33
Can you see them now?  data_ is shown as below. However, you can see if we see from
volume(next picture), that x, y are not assigned.
![image](https://user-images.githubusercontent.com/8194571/33642935-23d96598-d9f1-11e7-857b-a6605c476d1e.png)

![image 1](https://user-images.githubusercontent.com/8194571/33642925-155d8ee0-d9f1-11e7-9cf0-c744a80438b0.png)

[2017-12-06 04:13] mihaibujanca commented on #33
Is this on the first frame or further along the way?

Unable to read memory doesn't *necessarily* mean they are not assigned, they could be on the gpu I suppose. Or you might be right and they are indeed unassigned, but I can't figure out why this would happen.

Presumably this would come from kinfu.cpp:248 if it's the first frame - in which case try checking if there's anything inside the "distan

[2017-12-06 18:34] mxgbs commented on #33
Yes. It's the first frame. I checked when executing the line 263 of
imgproc.cu, the compute_dists_kernel seems not execute at all. And both
depth.ptr() and dists.data() are not readable. Is there some sentence I can
use to check the data in the device? Thanks.
line 263 __global__ void compute_dists_kernel(const PtrStepSz<ushort>
depth, Dists dists, float2 finv, float2 c)

Sincerely,

Yan

[2017-12-06 19:27] mxgbs commented on #33
I'm not sure if this related to the error. _cuda_1 is null.
![image](https://user-images.githubusercontent.com/8194571/33681074-5b361f2c-da78-11e7-855c-9a1fea745a22.png)

[2017-12-06 19:28] mxgbs commented on #33
I'm not sure if this is related to the error. CUDA_1 is null.
![cuda](https://user-images.githubusercontent.com/8194571/33681128-82b80ace-da78-11e7-9f4a-cbc5ecaedbb5.png)

[2017-12-06 19:57] mihaibujanca commented on #33
Well you have cudaErrorInvalidConfiguration so my first guess would be trying to use cuda 7.5 or 8 instead of 9. This seems to be a cuda related thing rather than the code itself

[2017-12-06 20:00] mxgbs commented on #33
That output is null after execution. Is that an error r because of invalid
configuration?

On Wed, Dec 6, 2017 at 11:57 AM Mihai <notifications@github.com> wrote:

[2017-12-06 20:24] mihaibujanca commented on #33
Well in the image above there's cudaLaunch<char> returned cudaErrorInvalidConfiguration, isn't it?

[2017-12-06 21:41] mxgbs commented on #33
Hi Mihai,

In line 218. tsdf_volume.cpp, I output the size of cloud. The size is 0.
That's reason why normal is not created. Then I check the size of cloud
inside fetchCloud, the size is still 0. Do you have any idea how to fix
that? It seems that the initialization is not correct.
normals.create(cloud.size()); cout << "cloud size"<<cloud.size();

On Wed, Dec 6, 2017 at 11:57 AM, Mihai <notificati

[2017-12-06 23:35] mxgbs commented on #33
@mihaibujanca

I added a test function:
__global__ void kernel_hello(void)
{
	printf("Hello, world, from the GPU\n");
}

and kernel_hello << <1, 1 >> >(); .

It seems it's not executed at all. No error reported. But also no output in monitor. I guess all the kernel functions are not executed. There should be some global solution for that. But I don't know how.

[2017-12-06 23:44] mihaibujanca commented on #33
Worth trying too run the cuda samples from cuda toolkit

[2017-12-06 23:44] mxgbs commented on #33
Sorry. I take it back. Actually it executed. Just show later. I tried that, those samples are successfully running.

[2017-12-06 23:46] mxgbs commented on #33
@mihaibujanca It's just clear now the problem is with fetchcloud and fetchnormal. cloud_buffer is not correctly loaded to cloud(device). But I don't know how to make it right.

[2017-12-07 01:08] mxgbs commented on #33
In tsdf_volume.cu 555, I tried to print
 int ftid = Block::flattenedThreadId ()
printf("thread%d\n", ftid);

system terminates without error output. Not sure if that's the problem.

[2017-12-08 00:56] mxgbs commented on #33
I downgrade to cuda 8.0, still not work.

[2017-12-08 01:23] mxgbs commented on #33
Sorry. Take it back. Actually now problem is with opencv assertion. The former one is solved. I'm now re-build opencv (since cuda changed) to see if it works.

[2017-12-08 01:57] mxgbs commented on #33
@mihaibujanca Got this weird error. I think the first frame size should be the image size. Do you have any idea why that happened?
![size_error](https://user-images.githubusercontent.com/8194571/33747406-b27f4934-db77-11e7-9f4c-521eed1fea35.png)

[2017-12-08 02:40] mihaibujanca commented on #33
Wow this is super weird. And if you just `imshow` the same Mat, does it work? I mean until that point the things should be quite simple an dI don't see any way why the code might corrupt the image if it's loaded well in the first place

[2017-12-08 02:56] mxgbs commented on #33
The warp is initiated by volume_->get_cloud_host(). I tried to use show_depth, but nothing shows.
![warp_init](https://user-images.githubusercontent.com/8194571/33748821-8a87e956-db7f-11e7-8b08-f9c2ad45ccdb.png)

[2017-12-08 18:49] mxgbs commented on #33
@mihaibujanca
Based on the line 313-318. the size of volume_->get_cloud_host() is (1,(int)cloud_->size()). I think that make sense since it's the point cloud. Therefore, is there something wrong with that warp_->init? warp_field.cpp (41-64)?
void kfusion::cuda::TsdfVolume::compute_points()
{
    *cloud_ = fetchCloud(*cloud_buffer_);
    *cloud_host_ = cv::Mat(1, (int)cloud_->size(), CV_32FC4);

[2017-12-08 18:58] mxgbs commented on #33
Actually the problem comes from first_frame.at<Point>(i,j), with OpenCV Error: Assertion failed (((((sizeof(size_t)<<28)|0x8442211) >> ((DataType<_Tp>::depth) & ((1 << 3) - 1))*4) & 15) == elemSize1()). Not sure how to fix that. Is this related to c++11 which omits from VS2015?

[2017-12-09 00:55] mxgbs commented on #33
Solved the former one with un-comment one line of opencv. Now has following problem, which is associated with Opt.

dynamicfusion.exe \dynamicfusion-master\data\umbrella_data

initialized included
LLVM ERROR: Program used external function 'cudaDeviceGetAttribute' which could not be resolved!

[2017-12-09 01:17] mihaibujanca commented on #33
That one is a horror, I'll need to look into how I solved it, but it took me a really long time.

[2017-12-09 02:36] mxgbs commented on #33
Thank you! Looking forward to your solution. I really appreciate that.

[2017-12-10 00:17] dgrzech commented on #33
@mxgbs i had the same issue and i solved it by linking to cuda_cudart_library

[2017-12-11 18:23] mxgbs commented on #33
@dgrzech thank you. I tried to set the environment variable cuda_cudart_library as C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\lib\x64. However, it doesn't solve the problem. Could you please release more detail how you do that? Thank you.

[2017-12-11 18:34] dgrzech commented on #33
@mxgbs i'm not sure about windows but..

using `${CUDA_LIBRARIES}` returned from FindCUDA.cmake, the linking was done to libcudart_static.a, i.e. the static CUDA runtime library. the project built but when running Opt, i was also seeing `LLVM ERROR: Program used external function 'cudaDeviceGetAttribute' which could not be resolved!`. i replaced all `${CUDA_LIBRARIES}` in target_link_libraries in

[2017-12-11 19:15] mxgbs commented on #33
@dgrzech
I only saw dynamicfusion\kfusion\cmakelists.txt has following lines:. Are you referred to this one?
message("CUDA_LIBRARIES:" ${CUDA_LIBRARIES})
message("CUDA_CUDART_LIBRARY:" ${CUDA_CUDART_LIBRARY})
message("CUDA_CUDA_LIBRARY:" ${CUDA_CUDA_LIBRARY})
find_package(Threads REQUIRED)

[2017-12-11 22:09] mxgbs commented on #33
@dgrzech @mihaibujanca
I tried to modify findcuda.cmake in the cmake module with CUDA_LIBRARIES replaced by CUDA_CUDART_LIBRARY. Actually it seems to be the same as uncomment using CUDA_use_static_cuda_runtime. Then, the new error comes as:
util.t:446: Global variable 'cudalib' is not declared. Global variables must be 'declared' through a regular assignment (even to nil) at global scope before be

[2017-12-12 00:44] mxgbs commented on #33
@mihaibujanca
I found out that terra released version actually using cuda 7.5. However, even with cuda 7.5, there are also error with compute_61. I don't know why that would link to compute_61 since cuda 7.5 doesn't support compute_61. Build opt from scratch is extremely painful because LLVM binaries is not available for windows. I'm wondering if you have version of this project based on ceres ins

[2017-12-14 23:54] mxgbs commented on #33
@mihaibujanca , I built LLVM and Luajit successfully. However, lots of error occurred when building terra. I tried to build the older version of dynamic fusion with ceres now. However, it stucked when ceres optimization is running. I'm wondering if suitesparse is a must for that version?

[2017-12-15 00:16] mihaibujanca commented on #33
Caught up with some coursework at the moment :( many apologies for being so slow with responding lately. I'll be back on it starting this weekend and until the end of the year.

Not fully convinced ceres will be working well now since I changed stuff while working on the opt version and wasn't very clean - but you're welcome to try.
I think suitesparse was needed for the optimiser I was using.

[2017-12-15 00:18] mxgbs commented on #33
Yes. I found out that, error message can't use sparse normal cholesky.
Thank you very much to take time from your busy schedule for this.

Sincerely.

Yan

On Thu, Dec 14, 2017 at 4:16 PM, Mihai <notifications@github.com> wrote:

[2017-12-18 12:03] Smallha61109 commented on #19
Hello everyone, i'm building this project with the instruction from @electro-logic. I've solved the missing mLibCore.h issue with the instruction. However, I encountered with this error:
[code]
Do anyone know what I'm doing wrong?

[2017-12-18 13:21] mihaibujanca commented on #19
I'm guessing it might have to do with the cuda version or the way you are linking cuda when building Opt

[2017-12-18 16:05] mihaibujanca commented on #19
Edit: I have just tried recompiling and am running into the same error. I am pretty sure I haven't modified anything that would cause this but will try to assess it and open an issue to Opt if needed

[2017-12-18 16:11] mihaibujanca commented on #19
@Smallha61109 solved by changing min to std::min. I'll submit a PR to Opt but until then I suggest changing it yourself

[2017-12-18 16:13] Smallha61109 commented on #19
Hi @mihaibujanca , thank you very much!!

[2017-12-19 19:41] mihaibujanca opened #44 "Quaternion and dual-quaternion tests no longer valid"
Since both the `Quaternion` and `DualQuaternion` classes have been changed but not the tests, some of the tests are broken.

[2017-12-23 15:06] mihaibujanca opened #45 "Create stable branch using ceres and remove ceres from master"

[2017-12-27 14:52] #19 closed

[2017-12-27 14:52] #28 closed

[2017-12-27 15:01] mihaibujanca commented on #19
@electro-logic I think it should be decent now (at least for Linux, I still didn't get around to do much on the Windows side)

[2017-12-27 21:13] electro-logic commented on #19
Sorry for the delay, I have just tried with a new checkout from master but I get same error
`llvm: No such file or directory`

[2017-12-28 09:53] mihaibujanca commented on #19
@electro-logic obviously should have documented it when it happened to me :(

I'll try to reproduce it, but in the meanwhile I'd suggest opening a separate issue for it as this one is about compiling instructions

[2018-01-05 19:48] snowface3 opened #48 "KinFu2 error: unknown error"
Hi, thanks for this project. I am hoping to get it working.

When I try to run the following command:
./build/bin/dynamicfusion data/umbrella
I get the following error:
KinFu2 error: unknow error /home/snuc/dynamicfusion/kfusion/src/device_memory.cpp::85

Any idea what this error might be?

[2018-01-05 22:51] mihaibujanca commented on #48
Well, it's definitely a cuda error, I would check that all the linking is done correctly or run the program under cuda gdb to find out more

[2018-01-08 15:39] Smallha61109 opened #49 "Model geometry matching prediction"
Hi @mihaibujanca ,
I have been checking on the part of surface fusion (kinect fusion's part) of this project. I found that if I turn off the non-rigid warping part and use rigid data instead, the estimation of the model geometry matching from the ICP (or maybe from other part i'm not sure) seems to be wrong. The geometry matching failed so that the surface fusion is fusion on the wrong surface. Ma

[2018-01-08 18:00] mihaibujanca commented on #49
Hi, thanks for the issue!

Just to make sure I understand, do you mean that you tried turning off the non-rigid part, ran it on rigid data and it failed?

If so, I'll look into it soon, I didn't expect that

[2018-01-08 18:24] Smallha61109 commented on #49
Yes, what I did is I comment line 385 to 389 in kinfu.cpp. I think this left only surface fusion working and so I tested it with rigid data from https://rgbd-dataset.cs.washington.edu/dataset/rgbd-scenes/ . But the reconstruction is not very well.

I believe the ICP part have some problem as I lower the threshold and increased the iterations to more then ten thousand times simultaneously trying to

[2018-01-08 18:48] mihaibujanca commented on #49
I'll try this myself when I get home but what I'd probably do instead is replace `dynamicfusion(d, pts, n);` on line 225 with `volume_->integrate(dists_, poses_.back(), p.intr);`

[2018-01-09 06:56] Smallha61109 commented on #49
I've tried what you suggested but it seems like in some cases there are still miss match between models so the reconstruction is no very well. Also another issue is that if ICP keeps failing and causing a reset, cuda will eventually run out of memory and results in a crash.

[2018-01-09 23:23] mihaibujanca commented on #49
Yeah, makes sense. I'll try to see if I can come up with a quickfix for it soon - I feel like it's something minor I might have changed, since I started from a kinectfusion implementation that worked. Hopefully in the process I'll get to write some tests as well.

If it's not a minor thing, it will take a bit to solve since I'm just starting my exams period

[2018-01-09 23:26] snowface3 commented on #48
That helped. My CUDA version was not up to date.

Now I am seeing the following error:
llvm: No such file or directory

[2018-01-10 02:38] mihaibujanca commented on #48
Yeah, this has been reported before, I'll try to reproduce it and solve it. I do remember having the problem a while ago and unfortunately haven't documented the solution.

I *think* it may have been related to Opt so things I'd try include linking cudart, linking cuda statically or just messing around with cuda linking to Opt.

There's also a commit I had when this happened so perhaps I can check

[2018-01-10 02:53] mihaibujanca commented on #48
Update: i don't think it's Opt. I've cloned Opt again, built it without changing anything in the make file and linked it and it runs, so unless I've set up something else on my system that automatically links with Opt now, it's not that.

[2018-01-10 03:43] mihaibujanca commented on #48
Reproduced, don't know how to solve it yet

[2018-01-10 08:47] zhaowei11594 opened #50 "undefined reference to symbol 'dlclose@@GLIBC_2.2.5'"
Hi @mihaibujanca ;
thanks for your projects, I encountered a problem, not solved for a few days。
when I run the following command：
make -j4
I get the following error：
[ 77%] Built target kfusion
[ 88%] Built target dynamicfusion
[ 94%] Linking CXX executable ../bin/dynamicfusion_kinect
/usr/bin/ld: ../../deps/terra/lib/libterra.a(DynamicLibrary.o): undefined reference to symbol 'dlclose@@GLIBC_2.2

[2018-01-10 16:52] mihaibujanca commented on #50
Hmm, the error seems to come from terra. Did you use exactly the same version as in the build script (release-2016-03-25) or did you build it separately?

If you didn't use the same version, that might be the cause. The error is looking for `libdl` but it seems that it's not linked.

Here's my code from the build script:
[code]

[2018-01-15 20:03] snowface3 commented on #48
any luck?

[2018-01-19 02:35] youngheekim opened #51 "Executable file(dynamicfusion.exe) can't run in my machine."
First thank you for doing this great work.
I succeeded in building form source for Windows using VS2015. But, the generated executable file(dynamicfusion.exe) can't run in my machine. There is no error message. It dose not start.
Do you have any suggestions?
I am familiar with other dependencies except Opt. I guess that this problem comes from Opt.
So, is there any way to use Ceres only?

Thanks.

[2018-01-26 18:14] #48 closed

[2018-01-26 18:16] snowface3 commented on #48
I was able to solve this issue, and now able to run the program. Will try to update what helped fix this- maybe it was properly installing/ linking caffee and/ or python.

[2018-01-26 18:19] snowface3 opened #52 "Using our own dataset"
I am trying to use our own dataset but get the following error:
KinFu2 error: invalid configuration argument	/home/tejas/dynamicfusion/kfusion/src/cuda/tsdf_volume.cu:829

Does the dataset need to be specific file format, size, bits etc.?
I am using 391x480 .PNG- 16 bit for color, 8 bit for depth

[2018-02-02 12:02] mihaibujanca commented on #52
If you are not using 640x480, you'll need to modify the params in https://github.com/mihaibujanca/dynamicfusion/blob/master/kfusion/src/kinfu.cpp

[2018-03-31 07:04] LostInCode404 opened #53 "KinFu2 error: invalid configuration argument"
This error is in the kernel call `extract_normals_kernel<<<grid, block>>>(en, output);` in `kfusion::device::extractNormals` method in `tsdf_volume.cu`. This occurs because value of grid dimensions in arguments is `(0,1,1)`. The first value is set to 0 after the divup because the argument `const PtrSz<Point>& points` to the `extractNormals` function is being passed as empty(i.e. `points.size` is `

[2018-05-07 11:22] hsarmadi opened #54 "llvm: No such file or directory"
Hi! Thank you for your work. We are trying to use your code to do an experiment for our paper. We managed to compile in Ubuntu 16.04 using your build script and we are running it on the default test data (umbrella) however we get the following error:

**llvm: No such file or directory**

We debugged the error up to this point:

OptSolver.h: 50: m_optimizerState = Opt_NewState(initParams);

But it

[2018-05-07 14:00] mihaibujanca commented on #54
Had this error in the past but haven't been able to reproduce it lately. Will give it a try in the upcoming days

[2018-05-08 04:53] chenkl1995 commented on #54
I try to compile in Windows with VS2013, Cuda 8.0.
And I also meet the debug error in this point:

    OptSolver.h: 50: m_optimizerState = Opt_NewState(initParams);
And if I directly run the `dynamicfusiond.exe`, the cmd shows:
    ![image](https://user-images.githubusercontent.com/15438055/39738357-3cf195c4-52bd-11e8-8c6b-2d05aa5dcced.png)
I guess the problem maybe in Opt, and I found the same qu

[2018-05-08 12:36] chenkl1995 opened #55 "KinFu2 error: invaild device function"
Hi! I rebuild this project on Ubuntu 16.04 with GTX1080.
It could build successfully, but when running it the console shows:
![2018-05-08 20-33-02](https://user-images.githubusercontent.com/15438055/39757346-238697dc-52ff-11e8-887d-d103fe4d3935.png)

Could you give me some suggestions to solve this problem?

Thanks!

[2018-05-12 16:43] mihaibujanca commented on #55
Hey there.
What version of CUDA are you using? Can you try running any CUDA demos to make sure you GPU and CUDA is set up correctly?

[2018-05-14 06:25] chenkl1995 commented on #55
Hi! Thank you for your reply!
I have solved this problem, just comment the CMakeList.txt

    64 #if(CUDA_VERSION GREATER 7.5)
    65    list(APPEND CUDA_NVCC_FLAGS "-gencode;arch=compute_61,code=sm_61")
    66 #endif()
Because the `Compute Capability` of `GTX1080` is `6.1`, i guess the `if statement` seems not work properly, after I comment it the program just works.

[2018-05-14 06:25] #55 closed

[2018-05-14 15:44] mihaibujanca commented on #55
Hmm, thanks.
Looks like caffe addresses the issue using this code
https://github.com/BVLC/caffe/blob/6eae122a8eb84f8371dde815986cd7524fc4cbaa/cmake/Cuda.cmake#L9-L132
I'll test it soon and add it in

[2018-05-14 15:47] mihaibujanca opened #56 "Automatic detection of compute capability"
Currently, the compute capability is added as a function of the CUDA version, whereas it's dependent on the GPU rather than the CUDA version. Causes issues such as #55

Solution:
Use code in Caffe that detects compute capability.
https://github.com/BVLC/caffe/blob/6eae122a8eb84f8371dde815986cd7524fc4cbaa/cmake/Cuda.cmake#L9-L132

[2018-05-21 11:44] mihaibujanca opened #57 "Port tests to Catch"
Tried catch on a separate project and I like it better than google tests, mainly because it's easier to set up and doesn't have fixtures.
In addition, matchers are more expressive

https://github.com/catchorg/Catch2/

[2018-05-22 11:17] mihaibujanca commented on #56
Duplicate issue, please see #39

[2018-05-22 11:17] #56 closed

[2018-05-22 22:16] nicole-antoine opened #58 "Error generating kfusion files"
Hello, I've been trying to build your project but I'm facing some issue like

[ 21%] Built target apidoc
Segmentation fault (core dumped)
Segmentation fault (core dumped)
Segmentation fault (core dumped)
CMake Error at kfusion_generated_tsdf_volume.cu.o.cmake:282 (message):
  Error generating file
  /home/vclab/dynamicfusion/build/kfusion/CMakeFiles/kfusion.dir/src/cuda/./kfusion_generated_tsdf_vo

[2018-06-02 10:28] jhz-linhe commented on #54
I encountered the same prolbem [llvm: No such file or directory] in ubuntu16.04, compiled successfully. Thanks for any update.

[2018-06-06 07:38] Caramello opened #59 "I can't get the UMBRELLA_DATA.."
Hi,mihai! Recently，i has try to build the project by using your code.But when i try to run "download_data.sh",i found that i can't open the data web page
http://lgdv.cs.fau.de/uploads/publications/data/innmann2016deform/umbrella_data.zip.

I build this project for almost a month....,But I cannot solve this last step。Could you help me ?
THANK YOU!

[2018-06-06 19:17] mihaibujanca commented on #59
Hmm I'll mail the authors and ask for permission to re-upload it or asking if there's an alternative link. Seems like that project page is no longer functional.

[2018-06-07 02:10] Caramello commented on #59
0.0.....ok..thankyou,mihai

[2018-06-11 03:50] YJonmo commented on #58
Hi there,

I am facing the same issue:
I am using Ubuntu 16.04.

/home/yaqub/dynamicfusion/kfusion/src/warp_field.cpp:157:13: error: ‘struct ceres::Solver::Options’ has no member named ‘num_linear_solver_threads’
     options.num_linear_solver_threads = 8;

  /home/yaqub/dynamicfusion/deps/Opt/examples/external/mLib/include/../src/core-math/triangleIntersection.cpp:497:50: warning: backslash and n

[2018-06-14 05:01] YJonmo commented on #58
In fact, everything goes well till the line before the last in build.sh (make -j4), where I get the errors that I mentioned above.

[2018-06-14 12:31] mihaibujanca commented on #58
Hi @YJonmo,

Firstly, the two problems might generate the same error but are almost certainly unrelated.

Looks like it's coming from ceres, they have removed `num_linear_solver_threads`: See this commit: https://github.com/ceres-solver/ceres-solver/commit/cfdc2af28b400a921d7465ab066656d5fafccc7a

I'll push a change soon, but all you need to do is replace `num_linear_solver_threads` with `num_thre

[2018-06-19 04:11] YJonmo commented on #58
I did what you said and still it gives error when running make -j4.

Thanks

[2018-06-19 13:04] mihaibujanca commented on #58
Is it the same error though?
Pretty sure the one with `num_linear_solver_threads` should be solved by the above

[2018-06-20 05:59] YJonmo commented on #58
Sorry I might have done something wrong, but here is the details I did:
in warp_field.cpp I replaced the num_linear_solver_threads with num_threads_used.
Then in ~/dynamicfusion/build difrectory I ran
cmake -DOpenCV_DIR=~/opencv/build -DBOOST_ROOT=~/boost_1_64_0/ -DOPENNI_INCLUDE_DIR=/usr/include/ni -DOpenCV_FOUND=TRUE ..
make -j4

but I got:
.
.
.
.../dynamicfusion/kfusion/src/warp_field.cpp:158:

[2018-06-20 07:34] mihaibujanca commented on #58
My bad, apologies. It was just `num_threads`, not `num_threads_used`

[2018-06-21 01:16] YJonmo commented on #59
error in downloading the data:

wget http://lgdv.cs.fau.de/uploads/publications/data/innmann2016deform/umbrella_data.zip
--2018-06-21 11:15:34--  http://lgdv.cs.fau.de/uploads/publications/data/innmann2016deform/umbrella_data.zip
Resolving lgdv.cs.fau.de (lgdv.cs.fau.de)... 131.188.16.206, 2001:638:a000:1080::206
Connecting to lgdv.cs.fau.de (lgdv.cs.fau.de)|131.188.16.206|:80... connected.
HTTP r

[2018-06-21 02:34] YJonmo commented on #58
num_threads is already there, so commenting the num_threads_used should be the solution?

[2018-06-21 09:33] mihaibujanca commented on #58
Yeah that should work.

[2018-06-21 19:48] mihaibujanca commented on #59
Hi all,
The authors kindly provided the data in a dropbox repository until it will be available on the website.
Check this
https://www.dropbox.com/sh/qgy2n9bmioofqnj/AABUnT7pi2ECpxSi80EmXOXna?dl=0

Will leave this open as an issue until they update the link and I'll put that in my code.

[2018-06-22 00:42] YJonmo commented on #54
Hi there, I got the same error. It only runs for the first image but for the second image, it gives the llvm error.

Ubuntu 16.04 here.

[2018-06-25 13:10] Caramello opened #60 "The problem about GCC's version"
Hi，Mihai!
       yeah..It's me.I get the new dataset and continue to build my project.But,when I go to the last step,"make -j4" in the fold named"build" in dynamicfusion. Get this Error:
/usr/include/c++/5/bits/stl_tree.h(1440):error:identifier "_Compare" is undefined.

       First i make ,find that need my GCC'version>5. so, i update my gcc.Then, the cuda send that need my gcc <4.9......I ask my

[2018-06-25 15:45] mihaibujanca commented on #60
This is highly dependent on your cuda version and what compilers it accepts (e.g now I'm using cuda 9.2 with gcc-6).

What you can do however is set your compiler to gcc-5 or what you are using at the moment and then
`set(CUDA_HOST_COMPILER "/usr/bin/gcc-4.9") # change gcc version and path as appropriate`

Hope this helps!

[2018-06-28 13:02] Caramello commented on #60
/usr/bin/../lib/gcc/x86_64-linux-gnu/5.5.0/../../../../include/c++/5.5.0/cstddef(51): error : the global scope has no "max_align_t"

/usr/bin/../lib/gcc/x86_64-linux-gnu/5.5.0/../../../../include/c++/5.5.0/bits/stl_tree.h(1440): error: identifier "_Compare" is undefined.

More error...............I'm going nuts.......

[2018-07-04 03:51] YJonmo commented on #54
I finally got it working by downgrading CUDA to 8 from 9.

Now the sample code for Umbrella is running already an hour and is not finished yet. Is it supposed to be this slow or is there anything wrong?

[2018-08-08 11:49] chenxinguo opened #61 "Are you sure the project can be build successfully on windows with vs2015?"
Dear Sir,

Are you sure  the project can be build successfully on windows with vs2015?

[2018-08-14 10:17] chenguowen opened #62 "Error in running the last part with Opt"
After visualization of images, I got errors related to OPT and CUDA:

[string "<string>"]:137: cuInit: cuda reported error -1
stack traceback:
        [C]: in function 'error'
        [string "<string>"]:137: in function 'localversion'
        [string "<string>"]:236: in function 'cudacompile'
        ...Fusion2-mihaibujanca-underdevelopment/Opt/API/src/util.t:873: in function 'makeGPUFunctions'

[2018-08-20 04:39] hyuns2316 opened #63 "Hi, I'm working on your projects. But.."
Hi, I'm working on your projects. But..I can't get the dataset with " wget http://lgdv.cs.fau.de/uploads/publications/data/innmann2016deform/umbrella_data.zip ".

Please reply to me. Thank you!

[2018-08-20 13:28] mihaibujanca commented on #63
Please check #59

[2018-08-20 13:28] #63 closed

[2018-08-20 13:37] norma-jeane-m opened #64 "Hi, I have another question."
.

[2018-08-21 01:07] hyuns2316 commented on #59
Hi,
I downloaded the umbrella data in the dropbox link. But, I think this is different file format. So, when i try to run 'dynamicfusion', it didn't work.
Could you help me?
Thank you!
---------------------------------------------------------------------------------------------------------------------------------------------
./dynamicfusion ../../data/frame-000000.canonical.ply
OpenCV Error: Reque

[2018-08-27 09:50] LittleLampChen commented on #61
I also think so!

[2018-08-29 04:39] LittleLampChen opened #65 "build Error"
Dear sir:
It get wrong with the build.sh in
# Build Opt
there does not exist the Opt/API folder.

[2018-09-13 04:05] LightManxx commented on #65
I have the same proble with it.
@mihaibujanca

[2018-09-27 08:03] 18500864609 opened #66 "without the umbrella data,I try to use the k1"
hello, I met an issue "KinFu2 error: Open failed: Bad file extension",when I print ./build/bin/dynamicfusion_kinect  0,can you  give me an advice?thank you ！

[2018-09-28 14:38] MadhurimaGhose05 opened #67 "KinFu2 error: unknown error /home/ktpllap210/dynamicfusion/kfusion/src/device_memory.cpp:85"
![kinfu2_error_dynamicfusion](https://user-images.githubusercontent.com/32602347/46214951-dce06800-c359-11e8-9f27-88333a7fb652.png)

Thanks a ton @mihaibujanca for your work!

Can someone please guide me how to solve this error?

I guess it is because of Opt (which is not being built)

Thanks!
Madhurima

[2018-11-07 05:12] jiwonmoon opened #68 "KinFu2 error: no kernel image is available for execution on the device"
I execute the dynamicfusion. but, it has an error.

----------------------------------------------------------------------------------------------
$ ./build/bin/dynamicfusion data/umbrella

KinFu2 error: no kernel image is available for execution on the device	/home/jiwon/jiwon/dynamicfusion/kfusion/src/cuda/tsdf_volume.cu:40
------------------------------------------------------------------------

[2018-11-07 14:48] mihaibujanca commented on #68
Hi
"no kernel image is available for execution on the device" usually happens when either NVIDIA drivers don't work or when the compute architecture doesn't match the cuda version.

Could you please specify your cuda version, whether or not you can run the cuda examples or any cuda code?

[2018-11-08 07:15] jiwonmoon commented on #68
Hi.
thank you
i solve the problem

to use cuda 8.0
and opencv 2.4 version

thank you!

-----Original Message-----
From: "Mihai Bujanca"<notifications@github.com>
To: "mihaibujanca/dynamicfusion"<dynamicfusion@noreply.github.com>;
Cc: "jiwon"<mjw314@naver.com>; "Author"<author@noreply.github.com>;
Sent: 2018-11-07 (수) 23:48:58
Subject: Re: [mihaibujanca/dynamicfusion] KinFu2 error: no kernel image

[2018-11-08 23:29] #68 closed

[2018-11-10 07:55] jiwonmoon opened #69 "hi i have another question..."
![image](https://user-images.githubusercontent.com/41610616/48298904-7b8ae780-e508-11e8-8622-9d49aec9ae64.png)

i can run dynamicfusion code by using given data set. (umbrella 640, 480)

but, it does not work in another file. i input the ballet dataset (1024, 768)
![image](https://user-images.githubusercontent.com/41610616/48298915-bdb42900-e508-11e8-8e08-8e1ca9e8498e.png)

the ballet dataset has

[2018-11-10 10:30] njzhangyifei commented on #59
FYI https://cloud9.cs.fau.de/index.php/s/46qcNZSNePHx08A?path=%2Fumbrella

[2018-11-10 10:34] njzhangyifei commented on #50
I ran into the same problem but fixed by adding `dl` as part of the terra libraries.

[code]

[2018-11-11 06:09] #69 closed

[2018-12-17 04:23] tearsland123 opened #70 "KinFu2 error: invalid configuration argument"
Dear Mihai Bujanca:
  I am sorry to bother you, I compiled your project on windows and run it via the umbrella database. However, it produced an err like following:​
  KinFu2 error: invalid configuration argument    cuda/tsdf_volume.cu:829​
  I checked your code and found some hints.  After the cudaSafeCall ( cudaMemcpyFromSymbol (&size, output_count, sizeof(size)) ) function, size variable will b

[2018-12-17 13:45] FengLQy commented on #52
If I use 515 x 515 depth images and 1920 x 1080 color images, how should I set parameters?  thank you

[2018-12-27 01:55] PascalYIN commented on #69
Hello @jiwonmoon ,
I am trying to run this code on my computer and I got the same error as yours, have you finally solved this problem, could you please tell me how did you solve it?
Thank you!

[2019-01-05 18:27] LordLiang opened #71 "How to save the result model?"
Hello, @mihaibujanca Thank you for your great work!
 Now I already run the umbrella demo successfully and I want to save the restructed model into a file (.obj or .ply) instead of frames. Maybe does the code  not include such part for saving?

[2019-01-12 13:18] mihaibujanca commented on #71
Not implemented yet, but you can look into marching cubes for saving the models, there are quite a few open source implementations, including one from the NVIDIA cuda samples. You'll need to adapt it to work with tesfVolume.

Alternatively just save the pointcloud using `kfusion::cuda::TsdfVolume::fetchCloud`, and triangulate it afterwards (e.g with something like poisson surface reconstruction in

[2019-03-13 08:43] lbq118 commented on #53
I also encountered the same problem. Is your problem solved?
Thanks

[2019-03-24 01:42] caoPhoenix commented on #54
Yeah, it's useful to update my CUDA 7.5 to CUDA 8.0. And now the system is running with data Umbrella but very very slow. My GPU is GTX960M. Is this speed normal?

[2019-03-24 04:28] caoPhoenix commented on #54
Well, I meet a new problem when I want to build this system again. That is:

`[  6%] Building NVCC (Device) object kfusion/CMakeFiles/kfusion.dir/src/cuda/kfusion_generated_proj_icp.cu.o
[ 18%] Building NVCC (Device) object kfusion/CMakeFiles/kfusion.dir/src/cuda/kfusion_generated_imgproc.cu.o
[ 18%] Building NVCC (Device) object kfusion/CMakeFiles/kfusion.dir/src/cuda/kfusion_generated_tsdf_volum

[2019-03-25 01:33] ischansgithub opened #72 "Segment error (core dumped)"
Hello mihai, when I ran dynamicfusion, a frame of image window appeared, but it soon disappeared and an error was reported: "a segment error ( core dumped)". May I ask what the problem is?

ps. I use UBUNTU 16.04, GTX950 driver is NVIDIA-Linux-x86_64-375.26; CUDA: 8.0.44.

[2019-04-04 02:31] zj19941113 commented on #67
I have the same question. Have you solved it, please?

[2019-04-06 07:59] caoPhoenix commented on #54
The new problem above was solved by reinstall :
sudo apt-get install nvidia-cuda-dev nvidia-cuda-toolkit nvidia-nsight nvidia-prime
The reason should be that I uninstall cuda while I install cuda 8.0.(sudo apt-get autoremove nvidia-cuda-toolkit)
And now when I type "nvcc -V" it show cuda 7.5 but the system run without "llvm:....".

[2019-04-09 09:50] zj19941113 commented on #54
thx！

[2019-04-16 16:03] glebmak commented on #67
Encountering the same error.

[2019-04-16 16:18] glebmak commented on #48
@snowface3 In case you remember, what solved the problem? It would be very helpful!

[2019-05-03 09:18] ktsiolis91 commented on #53
Hello, I've recently cloned this project and unfortunately I encountered the same issue. Did you figure it out?? I would really appreciate any help or guidance.

Thanks!!!

[2019-05-23 14:51] tangweiyill commented on #54
https://github.com/niessner/Opt/issues/143   and a new terra may solve this problem

[2019-05-26 09:14] hubeihubei commented on #72
hello, I also meet the same error,do you fix it ?

[2019-05-27 06:34] ischansgithub commented on #72
No,I focused on other projects now.

[2019-05-27 06:59] hubeihubei commented on #72
May I ask you which version of opencv you use, 3.x or 2.x ? thank you

[2019-05-27 07:21] ischansgithub commented on #72
opencv 2.*

[2019-06-06 08:08] hubeihubei opened #73 "Segmentation fault (core dumped)"
hello,mihai,I also meet the error :Segmentation fault (core dumped).I also meet ''a frame of image window appeared, but it soon disappeared'',so can you give me some suggestions,my project get stuck in the problem.Tkank you!

[2019-08-14 13:34] Algomorph commented on #70
Hi, Mihai,

I'm also facing the same exact issue as @tearsland123. I've debugged through the code a little, and I see that the images of the umbrella dataset seem to be read in just fine by OpenCV. Debugging further, I see that the point cloud that's supposed to be generated from the very first depth image has zero points. I think that is the real issue, since there are definitely valid non-zero d

[2019-08-15 16:49] mihaibujanca commented on #70
Hi @tearsland123 @Algomorph

My apologies for not responding in time.
I'm afraid I've moved on from this project and am quite caught up with other commitments. This project was mainly developed for my own learning and some bits such as Opt were thrown in more for the sake of experimentation than on solid design considerations. I wasn't anticipating that others would take an interest in what I'm de

[2019-11-06 13:46] liushuangliuliu commented on #62
i have the same question,have you solved??

[2020-02-14 13:10] wine3603 commented on #58
@mihaibujanca haha, thanks man, I should read to the bottom

[2020-02-14 13:20] wine3603 commented on #19
hello @mihaibujanca
I am compiling this project today, and got 100%  use
`make -j12`
with this error:
`collect2: error: ld returned 1 exit status
collect2: error: ld returned 1 exit status
apps/CMakeFiles/dynamicfusion_kinect.dir/build.make:123: recipe for target 'bin/dynamicfusion_kinect' failed
make[2]: *** [bin/dynamicfusion_kinect] Error 1
apps/CMakeFiles/dynamicfusion.dir/build.make:125: reci

[2020-06-24 13:34] cmatija opened #74 "short question about the optimization"
hi @mihaibujanca

thanks for the great code!

if I may, I just quickly wanted to ask some things about your code to see if I understand it correctly (couldn't yet build it properly, some libraries are giving me headaches :) ):

1. Do I see it correctly that you use the opt language for optimization, which automatically computes things like the jacobian etc. by means of automatic differentiation?

[2020-06-24 16:57] mihaibujanca commented on #74
Hello!

Please bear with me with regards to the questions as I haven't touched the code in quite some time.
As a heads up, my suggestion would be that rather than trying to use the code here, you might find some of the neural network based solutions more useful. If you are seeking dynamicfusion for a real-time implementation, last time I had tested this one it was going around 5fps - that was on a

[2020-06-25 11:34] cmatija commented on #74
Thanks a lot for coming back to me!

As it so happens, I stumbled across surfelwarp just yesterday and am trying to wrap my head around the code as we speak :)

Regarding the deep learning based methods, would you perhaps care to give me some pointers? I'm quite new to this surface reconstruction thing so I'm trying to get a good overview.

[2020-11-27 11:16] OshriHalimi opened #75 "compiling the project on Ubuntu 18.04 LTS"
I'm trying to compile the code on my Ubuntu 18.04 LTS machine, with cuda=10.2, Nvidia driver version=440.33.01.
I suspect the code is not compatible with cuda 10.
Cuda 9 is not officially supported on Ubuntu 18.04 so I cannot test the compilation with cuda 9.
I'm attaching the compilation output below.
Is there an easy way to make the project compile with cuda>=10?
I'll appreciate your help!

[2021-01-14 07:52] nicolashei1201 commented on #75
I can’t built it on cuda10 either, I think the newest compatible version of coda is cuda8, I built a docker image  on docker hub if your gpu is compatible with cuda8, good luck!
https://hub.docker.com/r/nicolashei/nick-dynamicfusion-cuda8.0

[2021-01-14 07:56] nicolashei1201 commented on #72
Maybe you should the cuda Nvcc flag in Cmake txt to “sm50” and comment out viz.spinOnce in demo.cpp

[2021-01-26 13:01] Wangyouai commented on #75
@OshriHalimi   Hi , did you succeed？

[2021-02-06 04:15] Wangyouai commented on #18
@mihaibujanca  Hi Mihai,
 I recently ran this project, and the umbrella reconstruction result obtained is very rough, not as smooth and detailed as in the paper. Is it because CUDA reconstruction results are not as good as CPU?  Is the reconstruction result of `ceres` smoother and finer?
Thank you！

[2021-02-08 11:00] Wangyouai commented on #18
@mihaibujanca  The strange thing is that when I ran your branch [ceres test fixed](https://github.com/mihaibujanca/dynamicfusion/tree/461aeb420b7c0477147ea8db3e1ba771ea001791), I found that it runs faster (13s per frame) and you can see the process of real-time reconstruction from rough to smooth.
Can you help me out, thank you very much！

[2021-02-17 10:14] iegorval commented on #75
@OshriHalimi did you manage to build the specified OpenCV version? I am getting CMakeError when I am trying to follow the build.sh script.

[2021-03-17 14:03] #64 closed

[2021-03-17 14:03] norma-jeane-m commented on #64
.

[2021-05-14 19:37] ShichenLiu opened #76 "Question about warp field usage"
Hi @mihaibujanca ,

Thanks for sharing the excellent code! I know this is an old repo so you might not remember all the details. But I still have one little question and hope you could answer me!

My understanding about dynamic fusion is that, in each step, we compute a global transformation with ICP, and then perform a non-rigid residual deformation via nodes in the warp fields. Therefore, it onl

[2021-05-28 07:55] LuyaooChen commented on #53
I also encountered the same problem...

[2021-06-24 02:56] jinzhenmu commented on #75
hi, have you solved this  problem?
i met the same error

[2021-06-25 04:34] jinzhenmu commented on #53
I also encountered the same problem...

[2022-04-07 02:30] HenryYH111 commented on #67
same problem,anyone has solved it ?

[2022-04-07 02:55] HenryYH111 opened #77 "KinFu2 error: unknown error /home/yuhang/Reconstruction/dynamicfusion-master/kfusion/src/device_memory.cpp:85"
Hi @mihaibujanca ,thanks for your work!
Would you please  take a look at this problem for me?
Is it because there is problem in device_memory.cpp?
I can't find solution to it.
Thanks!
Henry
![运行报错](https://user-images.githubusercontent.com/102840918/162111123-493b1ebc-df13-41e2-b363-b41d1cf1db47.png)